ul.social-network {
  list-style: none;
  padding: 0;
}

ul.social-network li{
  display: inline;
  margin: 0;
  padding: 5px;
}

.fa {
  font-size: 35pt;
  color: rgb(0, 0, 0);
  padding: 10px;
}

.fa:hover {
  color: white;
}

h4 {
  color:rgb(0, 0, 0)
}

.bg {
  background: #86DA4E;
}

.bg2 {
  background: #28A745;
}

