<div class = "container">
  <h1 class="text-center mt-5">Atualizar Usuário</h1>

  <div class="form-group">
    <label for="nome">Nome</label>
    <input [(ngModel)]=usuario.nome class="form-control" type="text" name="nome" id="nome"
      placeholder="Seu nome">
  </div>

  <div class="form-group">
    <label for="emailContato">Email</label>
    <input [(ngModel)]=usuario.emailContato class="form-control" type="text" name="emailContato"
      id="emailContato" placeholder="example@email.com">
  </div>

  <div class="form-group">
    <label for="telContato">Telefone para contato</label>
    <input [(ngModel)]='usuario.telContato' class="form-control" type="text" name="telContato" id="telContato"
      placeholder="Seu Telefone para Contato">
  </div>

  <div class="form-group">
    <label for="foto">Sua Foto</label>
    <input [(ngModel)]='usuario.foto' class="form-control" type="text" name="foto" id="foto"
      placeholder="Preencha com a URL de sua foto">
  </div>

  <div class="form-group">
    <label for="tipo">Tipo de Cadastro</label>
    <select class="form-control" name="tipo" id="tipo" [(ngModel)]='usuario.tipo' (change) = 'tipoUser($event)'>
      <option>Selecione um tipo de usuário</option>
      <option value="Cliente">Viajante</option>
      <option value="Vendedor">Vendedor</option>
    </select>
  </div>

  <div class="form-group">
    <label for="confirmarSenha">Confirmar sua senha para fazer as alterações:</label>
    <input [(ngModel)]='senha' class="form-control" type="password" name="confirmarSenha"
      id="confirmarSenha" placeholder="Confirme sua senha">
  </div>

  <div class="mb-5 d-flex justify-content-center">
    <button type="submit" class="btn btn-danger mr-4" routerLink="/inicio">Cancelar</button>
    <button type="submit" class="btn btn-success" (click) = "atualizar()" >Atualizar</button>
  </div>
</div>
