<div class="container">
  <main class="row my-5 d-flex justify-content-around align-items-start">
    
    <form class="col-md-6">
      <h2>Fale conosco</h2>

      <div class="form-group">
        <label for="name">Nome*</label>
        <input type="name" class="form-control" id="name" />
      </div>
      <div class="form-group">
        <label for="email">Email*</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
        />
      </div>
      <div class="form-group">
        <label for="telefone">Telefone/Whatsapp*</label>
        <input type="text" class="form-control" id="text" />
      </div>
      <div class="form-group">
        <label for="mensagem">Mensagem*</label>
        <textarea class="form-control" id="mensagem" rows="3"></textarea>
      </div>

      <button class="btn btn-primary">Enviar</button>
    </form>

    <section class="col-md-6">
      <h2>Localização</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam aliquam,
        iste reiciendis ea vero similique iure soluta quo, eum itaque,
        distinctio maiores amet optio officia tempore nihil omnis at
        perferendis.
      </p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116602.81939946378!2d-46.57207309606066!3d-24.036773491880215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce1f9dd9bf50e5%3A0x83b44c5ff623bb51!2sPraia%20Grande%2C%20SP!5e0!3m2!1spt-BR!2sbr!4v1645468677472!5m2!1spt-BR!2sbr"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </section>
  </main>
</div>
