.sobre {
  background-image: url('https://i.imgur.com/VMLaOu6.png?1');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  max-width: 100vw;
  color: #000000;
  font-weight: bolder;
}


.sobre p {
  font-size: 18px;
  text-align: justify;
}

.valores p {
  text-align: center;
}

ul {
  font-size: 18px;
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.card {
  border: 0;
  width: 200px;
  margin: 20px;
}

.card img {
  width: 200px;
  border-radius: 50%;
  border: 2px solid #000000;
  margin-bottom: 10px;
}

.card img:hover {
  transform: scaleX(-1);
}
