<div class="container-fluid sobre p-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-5">
      <img src="https://i.imgur.com/FTCLIvG.png" alt="Logo Sustentravel" />
    </div>

    <div class="col-md-5">
      <h1 class="text-center">Sobre a SustenTravel</h1>
      <p>
        O emprego decente, o empreendedorismo e o valor a criatividade e a
        inovação são temas da ODS 8 da ONU, que incentiva a formalização e o
        crescimento de micro, pequenas e médias empresas. Além disso, a meta
        propõe o incentivo ao turismo sustentável, que gera empregos e promove a
        cultura, e o respeito aos direitos trabalhistas.</p>
        <p>
        É pensando nisso que nasceu o projeto SustenTravel, que traz através de
        filtros e utilizando de algoritmos um padrão único de divulgação e
        possibilidade de seleção dos destinos e passeios. Focando principalmente
        em pequenos comércios e moradores que necessitam daquela atividade em
        sua economia geral.
      </p>
    </div>
    <div class="row justify-content-around">
      <div class="col-md-3">
        <div>
          <h4>Missao</h4>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <h4>Missao</h4>
        </div>
      </div>

      <div class="col-md-3">
        <div>
          <h4>Missao</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container equipe mt-5">
  <h2>Conheça a Equipe</h2>

  <div class="equipe-cards my-5">
    <div class="col-md-12 d-flex flex-wrap justify-content-around">
      <div class="card d-flex flex-column align-items-center">
        <img src="https://i.imgur.com/hMWOafK.jpg" alt="" />
        <h4>David Castro</h4>
        <div class="d-flex">
          <a href="https://www.linkedin.com/in/david-ccastro/"
            ><i class="mr-3 fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/DreAmVID"
            ><i class="fa fa-github-square fa-3x" aria-hidden="true"></i
          ></a>
        </div>
      </div>

      <div class="card d-flex flex-column align-items-center">
        <img src="https://i.imgur.com/VHwnTaY.jpg" alt="" />
        <h4>Fernanda Soares</h4>
        <div class="d-flex">
          <a href="https://www.linkedin.com/in/fernanda-sreis/"
            ><i class="mr-3 fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/fernanda-reis"
            ><i class="fa fa-github-square fa-3x" aria-hidden="true"></i
          ></a>
        </div>
      </div>

      <div class="card d-flex flex-column align-items-center">
        <img src="https://i.imgur.com/VidTNWn.jpg" alt="" />
        <h4>Gabriela Lima</h4>
        <div class="d-flex">
          <a href="https://www.linkedin.com/in/gabrielasl/"
            ><i class="mr-3 fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/gbdslx-dev"
            ><i class="fa fa-github-square fa-3x" aria-hidden="true"></i
          ></a>
        </div>
      </div>

      <div class="card d-flex flex-column align-items-center">
        <img src="https://i.imgur.com/VHiw69K.jpg" alt="" />
        <h4>Tiago Teixeira</h4>
        <div class="d-flex">
          <a href="https://www.linkedin.com/in/tiago-teixeira-01a99a13b/"
            ><i class="mr-3 fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/tsteix"
            ><i class="fa fa-github-square fa-3x" aria-hidden="true"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
