

    <div class="container-fluid d-flex">
      <div class="col-md-6 m-5 d-flex flex-column justify-content-center">
      <h1>{{ nome }}</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore id commodi ipsam quas, quae animi eos qui labore iure laudantium magnam!</p>
    </div>
    </div>


    <div class=" container produtos my-5">
      <h5 class="text-center">{{mensagem}}</h5>
      <div class="card-deck ">
        <div class="cards m-3 d-flex flex-wrap justify-content-around" *ngFor="let item of listaCategoria">
        <div class="card m-3" *ngFor="let produto of item.produtos">
          <img src="{{produto.urlImagem}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{produto.nomeProduto}}</h5>
            <p class="card-text">{{produto.descricao}}</p>
              <p class="card-text">{{item.regiao}} - {{item.tipo}}</p>
              <p class="d-flex justify-content-end">Valor: <span class="valor-produto"> {{produto.valor}}</span></p>
          </div>
          <div class="card-footer d-flex flex-column">
            <h6>Entre em contato com o vendedor</h6>
            <small>{{produto.usuario.nome}}</small>
            <small>{{produto.usuario.emailContato}}</small>
            <small>Telefone: {{produto.usuario.telContato}}</small>
          </div>
        </div>
      </div>
    </div>
</div>


