<nav class="navbar navbar-expand-lg ">
  <div class=" d-flex justify-content-start"></div>
  <a class="navbar-brand" href="#">
    <img width="10%" src="https://imgur.com/zJh39Rw.png" alt="Logo SustenTravel">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
  </span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-4">
      <li class="nav-item">
        <a class="nav-link icon d-flex flex-column align-items-center" routerLink="/inicio">
          <i class="fa fa-home " aria-hidden="true"></i>
          Inicio<span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle icon d-flex flex-column align-items-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-expanded="false">
          <i class="fa fa-globe" aria-hidden="true"></i>
          Explore
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <p class="dropdown-item">Por Tipos</p>
          <a class="dropdown-item" [routerLink]="['/produtos', 'Rural']">Rural</a>
          <a class="dropdown-item" [routerLink]="['/produtos', 'Litoral']">Litoral</a>
          <a class="dropdown-item" [routerLink]="['/produtos', 'Urbano']">Urbano</a>
          <a class="dropdown-item" [routerLink]="['/produtos', 'Camping']">Camping</a>
          <a class="dropdown-item" [routerLink]="['/produtos', 'Aldeias']">Aldeia</a>
          <p class="dropdown-item">Por Região</p>
          <a class="dropdown-item" [routerLink]="['/produtos', 'Norte']">Norte</a>
          <a class="dropdown-item" [routerLink]="['/produtos', 'Nordeste']">Nordeste</a>
          <a class="dropdown-item" [routerLink]="['/produtos', 'Centro-Oeste']">Centro-Oeste</a>
          <a class="dropdown-item" [routerLink]="['/produtos', 'Sudeste']">Sudeste</a>
          <a class="dropdown-item" [routerLink]="['/produtos', 'Sul']">Sul</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/produtos', 'sustentavel']">Passeio Sustentável</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link icon d-flex flex-column align-items-center" routerLink="sobre">
          <i class="fa fa-leaf" aria-hidden="true"></i>
          Sobre nós</a>
      </li>

      <li class="nav-item">
        <a class="nav-link icon d-flex flex-column align-items-center" routerLink="contato">
          <i class="fa fa-phone" aria-hidden="true"></i>
          Contato</a>
      </li>
    </ul>


    <ul class="navbar-nav ml-auto d-flex align-items-center" *ngIf="logado()">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle icon" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-expanded="false">
          Olá, {{nome}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div *ngIf="tipo == 'Vendedor'">
          <a class="dropdown-item" routerLink="meus-produtos">Meus Passeios</a>
          <div class="dropdown-divider"></div>
        </div>
          <a class="dropdown-item" href="#">Editar Perfil</a>
          <a class="dropdown-item" (click)='sair()'>Sair</a>
        </div>
      </li>
      <li class="nav-item active">
        <img src="{{foto}}" alt="Foto do usuário" class="foto-usuario rounded-circle">
      </li>
    </ul>

    <ul class="navbar-nav ml-auto d-flex align-items-center" *ngIf="logado() == false">
      <li class="nav-item">
        <a class="nav-link icon" routerLink="login">
          Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link icon" routerLink="cadastrar">
          Cadastrar</a>
      </li>
    </ul>

  </div>

</nav>
