
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

p, p:hover {
  margin: 0;
  background-color: #d6d4d4;
}

a {
  cursor: pointer;

}

img {
  width: 180px;
  margin: 0
}

.foto-usuario{
  width: 50px;
}

.navbar {
  background-color: rgb(189, 192, 192);

}

.navbar-toggler-icon{
  color: black;
}

.logo {
  font-family: 'Bangers', cursive;
  font-size: 40px;
  color: #9C3EDF;
}

a.nav-link.icon {
  color: black ;
  font-size: 16px;
}

a.nav-link.icon:hover {
  color: rgba(0, 0, 0, 0.226);
}




