
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

p, p:hover {
  margin: 0;
  background-color: #d6d4d4;
}

a {
  cursor: pointer;
}

.navbar {
  background-color: rgb(189, 192, 192);

}

.logo {
  font-family: 'Bangers', cursive;
  font-size: 40px;  
  color: #9C3EDF;
}

.icon {
  color: black ;
  font-size: 20px;
}

.icon:hover {
  color: rgba(0, 0, 0, 0.226);
  font-size: 20px;
}




