<div class="container">
  <div class="m-5">
    <nav>
      <div
        class="nav nav-tabs d-flex justify-content-center"
        id="nav-tab"
        role="tablist"
      >
        <a
          class="nav-link active"
          id="nav-texto-tab"
          data-toggle="tab"
          href="#nav-texto"
          role="tab"
          aria-controls="nav-texto"
          aria-selected="true"
          >SustenTravel</a
        >
        <a
          (click)="findByEmailUser()"
          class="nav-link"
          Z
          id="nav-meus-produtos-tab"
          data-toggle="tab"
          href="#nav-meus-produtos"
          role="tab"
          aria-controls="nav-meus-produtos"
          aria-selected="false"
          >Meus Produtos</a
        >
        <a
          class="nav-link"
          id="nav-criar-tab"
          data-toggle="tab"
          href="#nav-criar"
          role="tab"
          aria-controls="nav-criar"
          aria-selected="false"
          >Criar Produto</a
        >
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-texto"
        role="tabpanel"
        aria-labelledby="nav-texto-tab"
      >
        TEXTO
      </div>

      <!--CARDS DE PRODUTOS-->
      <div
        class="tab-pane fade"
        id="nav-meus-produtos"
        role="tabpanel"
        aria-labelledby="nav-meus-produtos-tab"
      >
        <div
          class="row row-cols-1 row-cols-md-3 my-5 d-flex justify-content-start"
        >
          <div class="col mb-4 pb-0">
            <div class="card h-70">
              <img
                src="https://www.pontoxtecidos.com.br/static/567/sku/tricoline-100-alg-lisa-lisa-cinza-chumbo-tricoline-100-alg--p-1616151959979.jpg"
                class="card-img-top"
                width="30px"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Nome</h5>
                <p class="card-text">Descricao</p>
                <div class="row d-flex justify-content-start">
                  <button class="btn btn-info m-2">Editar</button>
                  <button class="btn btn-danger m-2">Excluir</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-70">
              <img
                src="https://www.pontoxtecidos.com.br/static/567/sku/tricoline-100-alg-lisa-lisa-cinza-chumbo-tricoline-100-alg--p-1616151959979.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Nome</h5>
                <p class="card-text">Descricao</p>
                <div class="row d-flex justify-content-start">
                  <button class="btn btn-info m-2">Editar</button>
                  <button class="btn btn-danger m-2">Excluir</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-4" *ngFor="let produto of user.produtos">
            <div class="card h-70">
              <img
                src="{{ produto.urlImagem }}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">{{ produto.nomeProduto }}</h5>
                <p class="card-text">{{ produto.descricao }}</p>
                <div class="row d-flex justify-content-start">
                  <button
                    class="btn btn-info m-2"
                    data-toggle="modal"
                    data-target="#editarProduto"
                  >
                    Editar
                  </button>
                  <button class="btn btn-danger m-2">Excluir</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--CADASTRO-->
      <div
        class="tab-pane fade"
        id="nav-criar"
        role="tabpanel"
        aria-labelledby="nav-criar-tab"
      >
        <div class="m-5 d-flex flex-column justify-content-center">
          <!-- CADASTRO DA CATEGORIA -->

          <h5 class="mb-5">1. Cadastre a categoria do seu passeio:</h5>
          <div class="row form-group d-flex justify-content-around">
            <div class="col-md-4">
              <label for="">Tipo*</label>
              <select
                [(ngModel)]="categoria.tipo"
                class="form-control"
                type="text"
              >
                <option value="Rural">Rural</option>
                <option value="Urbano">Urbano</option>
                <option value="Litoral">Litoral</option>
                <option value="Camping">Camping</option>
                <option value="Aldeias">Aldeias</option>
              </select>
            </div>

            <div class="col-md-4">
              <label for="">Região*</label>
              <select
                [(ngModel)]="categoria.regiao"
                class="form-control"
                type="text"
              >
                <option value="Norte">Norte</option>
                <option value="Nordeste">Nordeste</option>
                <option value="Sul">Sul</option>
                <option value="Sudeste">Sudeste</option>
                <option value="Centro-Oeste">Centro-Oeste</option>
              </select>
            </div>

            <div class="col-md-4">
              <p class="mb-1">O passeio é Sustentável?*</p>
              <label class="radio-inline mr-3">
                <input
                  value="sim"
                  type="radio"
                  [(ngModel)]="categoria.prioridade"
                  [checked]="true"
                />
                Sim
              </label>
              <label class="radio-inline">
                <input
                  type="radio"
                  [(ngModel)]="categoria.prioridade"
                  value="nao"
                />
                Não
              </label>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <button class="btn btn-info my-5" (click)="cadastrarCategoria()">
              Cadastrar
            </button>
          </div>

          <hr />

          <!--style="display: none; // style="display: inline-block;" -->

          <!-- CADASTRO DO PRODUTO -->
          <div class="cadastrarProduto">
            <h5 class="mb-5">2. Cadastre os detalhes do passeio:</h5>
            <div class="row d-flex justify-content-around align-content-center">
              <div class="col-md-8 form-group">
                <label for="titulo">Título*</label>
                <input
                  [(ngModel)]="produto.nomeProduto"
                  class="form-control"
                  type="text"
                  name="titulo"
                  id="titulo"
                  placeholder="Título do passeio"
                />
              </div>

              <div class="col-md-4 form-group">
                <label for="titulo">Valor*</label>
                <input
                  [(ngModel)]="produto.valor"
                  class="form-control"
                  type="number"
                  name="valor"
                  id="valor"
                  placeholder="00.00"
                />
              </div>

              <div class="col-md-6 form-group">
                <label for="titulo">Descrição*</label>
                <textarea
                  [(ngModel)]="produto.descricao"
                  class="form-control"
                  type="textarea"
                  name="descricao"
                  id="descricao"
                  placeholder="Insira uma descrição detalhada do que esperar deste passeio"
                  rows="4"
                ></textarea>
              </div>

              <div class="col-md-6 form-group">
                <label for="">Foto</label>
                <input
                  [(ngModel)]="produto.urlImagem"
                  class="form-control"
                  type="text"
                  name="imagemURL"
                  id="imagemURL"
                  placeholder="Insira a URL da imagem"
                />
              </div>
            </div>
            <div class="my-5 d-flex justify-content-center">
              <button class="btn btn-info" (click)="cadastrarProduto()">
                Criar Passeio
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->

<div
  class="modal fade"
  id="editarProduto"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editar Produto</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--CORPO MODAL-->

        <div class="form-group">
          <label for="">Tipo*</label>
          <select
            [(ngModel)]="produtoEdit.categoria.tipo"
            class="form-control"
            type="text"
          >
            <option value="Rural">Rural</option>
            <option value="Urbano">Urbano</option>
            <option value="Litoral">Litoral</option>
            <option value="Camping">Camping</option>
            <option value="Aldeias">Aldeias</option>
          </select>
        </div>

        <div class="form-group">
          <label for="">Região*</label>
          <select
            [(ngModel)]="produtoEdit.categoria.regiao"
            class="form-control"
            type="text"
          >
            <option value="Norte">Norte</option>
            <option value="Nordeste">Nordeste</option>
            <option value="Sul">Sul</option>
            <option value="Sudeste">Sudeste</option>
            <option value="Centro-Oeste">Centro-Oeste</option>
          </select>
        </div>

        <div class="form-group">
          <p class="mb-1">O passeio é Sustentável?*</p>
          <label class="radio-inline mr-3">
            <input
              value="sim"
              type="radio"
              [(ngModel)]="produtoEdit.categoria.prioridade"
              [checked]="true"
            />
            Sim
          </label>
          <label class="radio-inline">
            <input
              type="radio"
              [(ngModel)]="produtoEdit.categoria.prioridade"
              value="nao"
            />
            Não
          </label>
        </div>

        <div class="form-group">
          <label for="titulo">Título*</label>
          <input
            [(ngModel)]="produtoEdit.nomeProduto"
            class="form-control"
            type="text"
            name="titulo"
            id="titulo"
            placeholder="Título do passeio"
          />
        </div>

        <div class="form-group">
          <label for="titulo">Valor*</label>
          <input
            [(ngModel)]="produtoEdit.valor"
            class="form-control"
            type="number"
            name="valor"
            id="valor"
            placeholder="00.00"
          />
        </div>

        <div class="form-group">
          <label for="">Foto</label>
          <input
            [(ngModel)]="produtoEdit.urlImagem"
            class="form-control"
            type="text"
            name="imagemURL"
            id="imagemURL"
            placeholder="Insira a URL da imagem"
          />
        </div>

        <div class="form-group">
          <label for="titulo">Descrição*</label>
          <textarea
            [(ngModel)]="produtoEdit.descricao"
            class="form-control"
            type="textarea"
            name="descricao"
            id="descricao"
            placeholder="Insira uma descrição detalhada do que esperar deste passeio"
            rows="4"
          ></textarea>
        </div>

        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>
