<div class = "bg-page">    
    
  <div class = "container-fluid">

    <div class="bg-topo flex">

        <div class = "col-md-6 texto-topo">

          <h2>Cantinho de Paz</h2>

          <div class = "texto-centro-topo">
            Bora se desconectar da cidade e aproveitaro fim de semana em belissimas cabanas
            a beira mar? Venha conhecer as cabanas do <strong>Tio Olavo!</strong> 
          </div> <!--Centro do topo-->
      
        </div> <!--Div da Esquerda-->

        <div class = "col-md-6 foto-topo">

          <img src="https://i.imgur.com/pMF4xVq.jpeg" alt="Praia" width="75%">

      </div> <!--Div da Direita-->

    </div> <!--Div do Topo-->

  </div> <!--Container do topo-->

  <div class = "container">

  <h3 class = "text-left mt-2 ml-2"> Encontre passeios por tipo. </h3>

  <div class = "carrousel-1 imagem">

  <owl-carousel-o [options] = "customOptions">

    <ng-template carouselSlide> <!-- Aldeias -->

      <a [routerLink]="['/produtos', 'Aldeias']">

        <img
        class="p-2"
        src="https://i.imgur.com/8bU3BLk.jpg"
        />

      </a>

    </ng-template>

    <ng-template carouselSlide> <!-- Camping -->

      <a [routerLink]="['/produtos', 'Camping']">
        <img
        class="p-2"
        src="https://i.imgur.com/8bU3BLk.jpg"
        />

      </a>

    </ng-template>

    <ng-template carouselSlide> <!-- Litoral -->

      <a [routerLink]="['/produtos', 'Litoral']">
        <img
        class="p-2"
        src="https://i.imgur.com/8bU3BLk.jpg"
        />

      </a>

    </ng-template>

    <ng-template carouselSlide> <!-- Rural -->

      <a [routerLink]="['/produtos', 'Rural']">
        <img
        class="p-2"
        src="https://i.imgur.com/8bU3BLk.jpg"
        />

      </a>

    </ng-template>

    <ng-template carouselSlide> <!-- Urbano -->

      <a [routerLink]="['/produtos', 'Urbano']">
        <img
        class="p-2"
        src="https://i.imgur.com/8bU3BLk.jpg"
        />

      </a>

    </ng-template>

  </owl-carousel-o>

</div> <!--Div Carrousel-1-->

<h3 class = "text-left mt-2 ml-2"> Encontre passeios por região. </h3>

<div class = "carrousel-2 imagem">

  <owl-carousel-o [options]="customOptions">

      <ng-template carouselSlide> <!-- Sul -->

        <a [routerLink]="['/produtos', 'Sul']">
          <img
          class="p-2"
          src="https://i.imgur.com/8bU3BLk.jpg"
          />
    </a>
      </ng-template>
      <ng-template carouselSlide> <!-- Nordeste -->
        <a [routerLink]="['/produtos', 'Nordeste']">
          <img
          class="p-2"
          src="https://i.imgur.com/8bU3BLk.jpg"
          />
    </a>
      </ng-template>

      <ng-template carouselSlide> <!-- Norte -->
        <a [routerLink]="['/produtos', 'Norte']">
          <img
          class="p-2"
          src="https://i.imgur.com/8bU3BLk.jpg"
          />
    </a>
      </ng-template>

      <ng-template carouselSlide> <!-- Centro-Oeste -->
        <a [routerLink]="['/produtos', 'Centro-Oeste']">
          <img
          class="p-2"
          src="https://i.imgur.com/8bU3BLk.jpg"
          />
    </a>
      </ng-template>

      <ng-template carouselSlide> <!-- Sudeste -->
        <a [routerLink]="['/produtos', 'Sudeste']">
          <img
          class="p-2"
          src="https://i.imgur.com/8bU3BLk.jpg"
          />
    </a>
      </ng-template>

    </owl-carousel-o>

</div> <!--Div carrousel-2-->

<h3 class = "titulo">Passeio Sustentavel</h3>

<div class="div1-inferior flex">

  <div class = "col-md-6 texto-topo">

    <h2>Viaje com consciência</h2>

    <p>Conheça as áreas menos favorecidas e contribua para o desenvolvimento
      socio-economico destas regiões. 
    </p>

    <button type="button" class="btn btn-success botoes">Success</button>

  </div> <!--Div da Esquerda-->

  <div class = "col-md-6 foto">

    <img src="https://imgur.com/hJaweCa.jpeg" alt="Comerciante" width="75%">

</div> <!--Div da Direita-->

</div> <!--Div da Div Inferior 1-->

<div class="div2-inferior flex ">

  <div class = "col-md-6 texto-topo">

    <h2>Saia da caixinha</h2>

    <p>Explore novos lugares e culturas, expanda seus horizontes 
    e conheça um mundo novo de possibilidades.</p>

    <button type="button" class="btn btn-success">Success</button>

  </div> <!--Div da Esquerda-->

  <div class = "col-md-6 foto">

    <img src="https://imgur.com/2vDj8yC.jpeg" alt="TurSus1" width="75%">

</div> <!--Div da Direita-->

</div> <!--Div da Div Inferior 2-->

</div> <!--Container Fluid-->

</div>  <!--DIV DA PAGE INTEIRA-->



