<div class = "bg-page">

  <div class = "container-fluid bgfotopato">

  <div class="div1-superior flex">

    <div class = "col-md-6">
    
      <h1 class = "chamado">SustenTravel</h1>

      <h2 class = "htext">Viagens para quem se importa com o próximo.</h2>

      <h3 class = "htext">Das aldeias Midsommar até as Ilhas Lost a SustenTravel te leva!</h3>
  
    </div> <!--Div da Esquerda-->
  
    <div class = "col-md-6 margem">
  
      <img src="https://imgur.com/wpzm1MJ.jpeg" alt="FotoHero" width="50%">
  
  </div> <!--Div da Direita-->
  
  </div> <!--Div da Div Inferior 1-->

  </div> <!--Container Sobre O projeto-->

  <div class = "container">

    <p class = "textoexplicativo">O turismo no Brasil representa 5,5% do PIB (dados de 2020), mas algo que ainda é um problema no modelo atual de divulgação e compra e venda de serviços relacionados
      ao turismo é justamente a falta de divulgação e volume de vendas para pequenos e médios comerciantes.
     Com essa premissa em mente a SustenTravel traz um modelo de e-commerce para você que quer auxiliar a economia brasileira.
   </p>
   <p class = "textoexplicativo">
     Veja abaixo algumas formas de chegar até onde você quer!
   </p>

  </div>

  <div class = "container">

  <h3 class = "text-left ml-2 margem"> Encontre passeios por tipo. </h3>

  <div class = "carrousel-1 imagem">

  <owl-carousel-o [options] = "customOptions">

    <ng-template carouselSlide> <!-- Aldeias -->

      <a [routerLink]="['/produtos', 'Aldeias']">

        <img
        class=""
        src="https://imgur.com/3hRfCDY.jpg"
        />

      </a>

    </ng-template>

    <ng-template carouselSlide> <!-- Camping -->

      <a [routerLink]="['/produtos', 'Camping']">
        <img
        class=""
        src="https://imgur.com/nQbsElT.jpg"
        />

      </a>

    </ng-template>

    <ng-template carouselSlide> <!-- Litoral -->

      <a [routerLink]="['/produtos', 'Litoral']">
        <img
        class=""
        src="https://imgur.com/McfKMeb.jpg"
        />

      </a>

    </ng-template>

    <ng-template carouselSlide> <!-- Rural -->

      <a [routerLink]="['/produtos', 'Rural']">
        <img
        class=""
        src="https://imgur.com/UL3E5pv.jpg"
        />

      </a>

    </ng-template>

    <ng-template carouselSlide> <!-- Urbano -->

      <a [routerLink]="['/produtos', 'Urbano']">
        <img
        class=""
        src="https://imgur.com/xVOkuD0.jpg"
        />

      </a>

    </ng-template>

  </owl-carousel-o>

</div> <!--Div Carrousel-1-->

<h3 class = "text-left ml-2 margem"> Encontre passeios por região. </h3>

<div class = "carrousel-2 imagem">

  <owl-carousel-o [options]="customOptions">

      <ng-template carouselSlide> <!-- Sul -->

        <a [routerLink]="['/produtos', 'Sul']">
          <img
          class=""
          src="https://imgur.com/t0WV6Rp.jpg"
          />
    </a>
      </ng-template>
      <ng-template carouselSlide> <!-- Nordeste -->
        <a [routerLink]="['/produtos', 'Nordeste']">
          <img
          class=""
          src="https://imgur.com/HX0Frw4.jpg"
          />
    </a>
      </ng-template>

      <ng-template carouselSlide> <!-- Norte -->
        <a [routerLink]="['/produtos', 'Norte']">
          <img
          class=""
          src="https://imgur.com/usXaFK5.jpg"
          />
    </a>
      </ng-template>

      <ng-template carouselSlide> <!-- Centro-Oeste -->
        <a [routerLink]="['/produtos', 'Centro-Oeste']">
          <img
          class=""
          src="https://imgur.com/yEfAn0h.jpg"
          />
    </a>
      </ng-template>

      <ng-template carouselSlide> <!-- Sudeste -->
        <a [routerLink]="['/produtos', 'Sudeste']">
          <img
          class=""
          src="https://imgur.com/JQ7w7gc.jpg"
          />
    </a>
      </ng-template>

    </owl-carousel-o>

     

</div> <!--Div carrousel-2-->

<div class = "container">

<h3 class = "titulo">Passeio Sustentavel</h3>

<div class="div1-inferior flex">

  <div class = "col-md-6 texto-inferior">

    <h2>Viaje com consciência</h2>

    <p>Conheça as áreas menos favorecidas e contribua para o desenvolvimento
      socio-economico destas regiões.
    </p>

  </div> <!--Div da Esquerda-->

  <div class = "col-md-6 foto">

    <img src="https://imgur.com/hJaweCa.jpeg" alt="Comerciante">

</div> <!--Div da Direita-->

</div> <!--Div da Div Inferior 1-->

<div class="div2-inferior flex ">

  <div class = "col-md-6 texto-inferior">

    <h2>Saia da caixinha</h2>

    <p>Explore novos lugares e culturas, expanda seus horizontes
    e conheça um mundo novo de possibilidades.</p>

    <button type="button" class="btn btn-success" [routerLink]="['/produtos', 'sustentavel']">Quero Conhecer!</button>

  </div> <!--Div da Esquerda-->

  <div class = "col-md-6 foto">

    <img src="https://imgur.com/2vDj8yC.jpeg" alt="TurSus1">

</div> <!--Div da Direita-->

</div> <!--Div da Div Inferior 2-->

</div>

</div>  <!--DIV DA PAGE INTEIRA-->



