@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

img {
    border: 2px solid black;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bg-topo {

    background-image: url("https://imgur.com/GUSENn6.png");
    min-height: 50vh;
    background-size: cover;
    border: 2.5px solid black;

}

.bg-page {
    background-image: url("https://t3.ftcdn.net/jpg/04/45/15/04/360_F_445150451_dPqGcjJY2WiiuzuMmiIL9nAk3EtoPu2m.jpg");
    background-size: cover;
}

.flex{

    /*Flex-Box*/

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texto-topo {
    font-size: 35px;
    font-family:sans-serif;
}

.texto-centro-topo {
    text-align: justify;
    padding-right: 35px;
    padding-left: 35px;
    margin-left: 30px;
}

.titulo {
    font-size: 35px;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.div1-inferior {
    flex-direction: row-reverse;
}

.div2-inferior {
    padding-top: 45px;
    padding-bottom: 25px;
}

.imagem img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 2px black solid;
    padding: 0px;
  }

button {

border: 1px rgb(0, 0, 0) solid;
transition: transform 0.5s;
transform: scale(1.2);

}

button:hover,
button:focus {
border-right: 1px rgb(0, 0, 0) solid;
transform: scale(1.3);
opacity: 0.5;

}

.foto img {
    border-radius: 10px;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
}

.margem {

    margin-bottom: 50px;
    margin-top: 50px;
}

.bgfotopato {
    background-image: url(https://jooinn.com/images/bright-freen-agriculture-4.png);
    background-size: cover;
    border: 2px black solid;
}

.turismo {
    font-size: 30px;
    text-align: justify;
    color: rgb(0, 0, 0);
    font-family: 'Arvo', serif;    
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    }

.titulotopo {
    font-size: 35px;
}

.margemturismo{
    margin-left: 25px;
    margin-right: 25px;
}

.texto-inferior {

    font-size: 25px;
}